<div class="page-header">
    <h3>Dropdown menus</h3>
</div>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Grid & example</a></li>
        <li><a href="#tab2" data-toggle="tab">Msg & Progress</a></li>
        <li class="pull-right">
            <button id="btnShowForm" class="btn btn-primary"><i class="icon-plus icon-white"></i>显示</button>
            &nbsp;
            <button id="btnHideForm" class="btn btn-primary"><i class="icon-plus icon-white"></i>隐藏</button>

        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">

            <div id="grid-container" class="grid clearfix">
                <!--<table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>电视剧</th>
                            <th>类型</th>
                            <th>年代</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>爱情公寓</td>
                            <td>都市爱情喜剧</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>爱情公寓</td>
                            <td>都市爱情喜剧</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>爱情公寓</td>
                            <td>都市爱情喜剧</td>
                            <td>2010</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>-->
            </div>
            <h4>阿斯蒂芬</h4>
            <p>Toggleable, contextual menu for displaying lists of links. Made interactive with the <a href="./javascript.html#dropdowns">dropdown JavaScript plugin</a>.</p>
            <div class="bs-docs-example">
                阿斯蒂芬
            </div>

        </div>
        <div class="tab-pane" id="tab2">

            <!--msg-->
            <div id="msg-container"></div>
            <!--/msg-->
            <!--progress-->
            <div id="progress-container"></div>
            <!--/progress-->

        </div>
    </div>
</div>
